$background-color: #101010;
$text-color: #f3f5f7;
$text-color-secondary: #131e29;
$post-background-color: #8a2be2;
$post-details-background-color: #ddcf37;
$post-filters-background-color: #3b3b3b;
$button-view: #5E5DF0;
$button-view-hover: #22abfa;
$button-delete: #d42020;
$button-delete-hover: #941c1c;
$button-back: #7196a9;
$button-back-hover: #6685e3;
$button-prev-next: #e1e1e1; 
$button-prev-next-hover: #a2a2a2;
$button-prev-next-disabled: #5f5f5f; 